<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/" class="bread-home">
      <span itemprop = "name">
        <img src = "/ images / bread / home.png" alt = "Mojolicious Startup">
      </ span>
    </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    here
  </ li>
</ ol>
<h2> "Perl + Mojolicious" Web application development with Sakura VPS Part 4 Let's log in from the control panel </ h2>



This time, let's actually log in from the control panel.

Control panel

https://secure.sakura.ad.jp/vpscontrol

You can log in by entering your IP address and password. After logging in, take a quick look at the entire page. You can see some features.

First of all, the VPS home is the place.

<pre>
Virtual server information
IP address 49.212.148.211
Host name www11197ue.sakura.ne.jp (standard)
Memory 1GB
HDD 100GB
Status stopped
Virtual server operation
</ pre>

<h3> IP address </ h3>

If you don't understand the basic terms, it will be difficult to study. An IP address is like a number that identifies your computer. Well, properly, the IP address is assigned to the network card that is plugged into the computer.

A NIC (network card) is inserted in the server, and an IP address is assigned to it. If you specify 49.212.148.211 as the IP address, it will follow the router and reach that IP address.

You can reach anywhere in the world. It's amazing to think carefully that it can be identified and accessed.

<h3> Hostname </ h3>

The initial setting is a name that seems to be automatically assigned. www11197ue.sakura.ne.jp. Rest assured that there are of course ways to change this.

The host name has the same meaning as the domain name here. A domain name is a name that identifies it and has the same role as an IP address, but since the IP address is a number, it is not a character string.

The domain name is linked to the IP address, and basically there is a one-to-one correspondence. The DNS server will solve this. In other words, if you access it at www11197ue.sakura.ne.jp, the DNS server will tell you the corresponding IP address.

And if you know the IP address, you can reach the server.

<h3> Status </ h3>

The status is suspended. This means that the OS hasn't booted yet. Next time, I would like to boot the OS.