<h2> Linux commands to remember for file / directory operations </h2>

The Mojolicious startup will start developing on Windows in the msys2 environment or on a Mac terminal.

In the CUI environment, you will be working by executing commands.

Normally, I use a graphical mouse called GUI to operate files and directories, but I will first introduce the corresponding Linux commands.

Before you start web development, these are the only Linux commands to keep in mind.

<h3> ls command-display file list </h3>

To see the list of files on the command line, use the cd command.

<ul>
  <li> <a href=""> ls command-display file list</a> </li>
</ul>

<h3> cd command-move directory </h3>

At the command line, use the cd command to change directories.

<ul>
  <li> <a href="https://en.linux.perlzemi.com/blog/20191012191854.html"> cd command-change current directory</a> </li>
</ul>