<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/" class="bread-home">
      <span itemprop = "name">
        <img src = "/ images / bread / home.png" alt = "Mojolicious Startup">
      </ span>
    </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    here
  </ li>
</ ol>
<h2> "Perl + Mojolicious" Web application development with Sakura VPS Part 1 Beginning </ h2>



There is no article that consistently deals with everything from the start of development to the deployment of Web applications, so I will write it little by little.

<h3> Beginning Beginning </ h3>

There are many books on PHP and Ruby on Rails, and they are quite substantial, so it is easy to create web applications, but I think many people realize that. But when it comes to application performance, Perl uses a framework called Mojolicious and it looks pretty good.

However, there are no steps to publish the application on the Web or in books, so when I try to start doing it, I think it's hard to feel like I want to do it. But in fact, the framework called Mojolicious is very convenient, and the language Perl is also good, so I think I'll tell you by writing this article.

<h3> Recommended is VPS </ h3>

I wonder how to publish the application now, but I recommend using VPS or the cloud. I think the cloud is a bit expensive to start with as an individual or a small company. So my recommendation is to use the VPS first and then configure the application so that it can be migrated quickly as it grows.

The cloud has automatic expansion as a service, but the cost is still a little high. Therefore, it is recommended to use VPS to create a web application and design the web application to be extremely portable.

Creating an application that can be used like that will be possible in 1 to 2 hours, including environment construction, once you have learned the procedure and become accustomed to it. Once you write the configuration file, you can reuse it.

For those who are starting from now on, I think that the first time to start a Web application feels like a big mountain. Once you cross that mountain, it will be very easy, so I will explain how to do that.

<h3> A stance of writing leisurely </ h3>

I like to write only the main points in a simple way, but I will talk about this article leisurely. If the article continues to the end, I will make the shortest procedure to build the environment properly.