<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/" class="bread-home">
      <span itemprop = "name">
        <img src = "/ images / bread / home.png" alt = "Mojolicious Startup">
      </span>
   </a>
    <meta itemprop = "position" content = "1" />
  </li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    here
  </li>
</ol>

<h2> Building a Web development environment on Windows </h2>

First of all, we will build a development environment on Windows.

Perl web applications developed with Mojolicious startups are expected to run in a Unix / Linux environment.

Unix and Linux are operating systems that are widely used for server purposes.

Windows is a completely different OS from Unix / Linux, but you can use tools to recreate the Unix / Linux environment.

One of these tools is <b> msys2 </b>. msys2 works fine with Mojolicious and Perl web applications in a pseudo-Unix / Linux environment.

<h3> Install msys2, Perl, Mojolicious </h3>

First install msys2. How to install msys2 is explained in the following article of Perl introductory seminar, so let's challenge it.

It also explains how to install Perl and Mojolicious, so let's run them together.

<ul>
  <li> <a href="https://perlzemi.com/blog/20180806153350.html"> Install msys2 on Windows and use Perl</a> </li>
</ul>

Did you successfully install msys2, Perl, and Mojolicious? If you can't, you can ask a question on the Perl Seminar Forum, so let's use it.