<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/" class="bread-home">
      <span itemprop = "name">
        <img src = "/ images / bread / home.png" alt = "Mojolicious Startup">
      </ span>
    </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    here
  </ li>
</ ol>
<h2> "Perl + Mojolicious" Web application development with Sakura VPS 6th Linux OS called CentOS6 </ h2>



When you log in from the remote console, you will see a screen where you can execute commands.

<pre>
[root @ www11197ue ~] #
</ pre>

What on earth is this? Actually, I am logged in to the OS called Cent OS 6 as a root user. Think of Cent OS as a type of operating system called Linux, similar to Windows or Mac OS X.

For example, in Windows, you can perform various operations on the graphical screen using the mouse etc., but when using Sakura's VPS, you can actually type characters and use commands instead of the graphical screen. And perform various operations.

<pre>
In Sakura VPS, log in to the OS called CentOS 6 and operate using commands.
</ pre>

I think this will be the first challenge. Until now, computers have been graphical and easy to operate with a mouse. However, in development using Sakura VPS, it is necessary to memorize commands and use the commands to give commands to the computer to perform operations.

It was the first time for me to use the command line, and it was also the first time for me to use an OS called Linux. But it's well worth the challenge. Once you get used to this, you can create web applications that can do anything. You can completely control the web application yourself, without relying on the services of the provider.

>> >>
You will be able to create free, flexible and portable web applications.
<<

Let's execute the command as a trial. Try typing the following command and pressing Enter.

<pre>
echo Hello
</ pre>

The <b> echo </ b> command is a Linux command that outputs a character string to the screen. You should get the following output result.

<pre>
Hello
</ pre>

With this alone, I feel like I don't understand what it is. Next time, let's try some Linux commands to get used to the command line operation.