<ol class = "bread" itemscope itemtype = "http://schema.org/BreadcrumbList">
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    <a itemprop="item" href="/" class="bread-home">
      <span itemprop = "name">
        <img src = "/ images / bread / home.png" alt = "Mojolicious Startup">
      </ span>
    </a>
    <meta itemprop = "position" content = "1" />
  </ li>
  & # 8250;
  <li itemprop = "itemListElement" itemscope itemtype = "http://schema.org/ListItem">
    here
  </ li>
</ ol>
<h2> "Perl + Mojolicious" Web application development with Sakura VPS 10th Future Goal </ h2>



Now you have reached the point where you can run the Hello World application. With this, all you have to do is make various modifications and learn how to build an environment.

Web application development has a wide range of fields to remember, and creating a web application with a wide range of applications seems easy, but it actually takes a considerable amount of time and technology.

This time, I will briefly describe in what fields learning will spread.

<h3> Linux related </ h3>

The contents to be remembered about the OS called Linux are as follows.

-Remember commonly used Linux commands
--cd, ls, tail, more, less, pwd, grep, useradd, passwd, chmod, chown, rm, rmdir
--vmstat, top, yum, rpm, chkconfig, service
-Remember the Linux directory structure
-/ etc, / var, / home
-Learn how to edit text using vi
-Learn how to connect remotely using SSH
--In addition, learn how to use SSH client such as Teraterm
--Learn how to modify or add files on the server using WinSCP etc.
-Build a mail server with Postfix
-Learn how to periodically execute batch processing using cron
-Learn how to build a firewall with iptables
-Build a web server using httpd (Apche)
Being able to deploy multiple applications using --mod_proxy
Being able to use SSL communication using --mod_ssl

<h3> Perl environment construction related </ h3>

It's something you have to remember in Perl.

-Install a new version of Perl using perlbrew
-Installing CPAN modules using cpanm

<h3> Perl Web application development related </ h3>

-Various ways to use Mojolicious
--Session, dispatch, static file delivery, template writing, application execution method, configuration file, JSON output, etc.
-How to save data using a database
--Use DBI, DBIx :: Custom
--Write complex search queries using SQL
--Become able to write paging processing
-How to send an email

<h3> Screen related (HTML, CSS, JavaScript) </ h3>

-How to write HTML
-How to write CSS
-How to write JavaScript
How to use a library called --jQuery

In the series, I would like to explain in order what is necessary for Web application development. Web application development has a lot to remember.